@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100dvh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply transition-colors duration-500;
}

body {
  @apply bg-white text-black;
}

html.dark body, body.dark {
  @apply bg-black text-white;
}
